<div class="v-font text-center"><h3>List of all comments</h3></div>

<hr>

<div class="v-font">
  <div>
    <table border="1" class="v-font text-center table table-hover border">
      <tr class = "v-font text-center table-info">
        <th>Post</th>
        <th>Comment</th>
        <th>Commenter</th>
        <th>School name</th>
        <th>Commented</th>
      </tr>

      <% @list_of_comments.each do |a_comment| %>
      <tr>
        <td><a href="/posts/<%= a_comment.post.id %>"><%= a_comment.post.body %></a></td>
        <td><a href="/comments/<%= a_comment.id %>"><%= a_comment.body %></a></td>
        <td><%= a_comment.commenter.first_name %> <%= a_comment.commenter.last_name %></td>
        <td><%= a_comment.commenter.school_name %></td>
        <td><%= time_ago_in_words(a_comment.updated_at) %> ago</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
