<div>
  <div>
    <h1>
      List of all comments
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" class="text-center table table-hover border">
      <tr class = "table-info">

        <th>
          Post
        </th>

        <th>
          Body
        </th>

        <th>
          Commenter
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_comments.each do |a_comment| %>
      <tr>

        <td>
          <%= a_comment.post.body %>
        </td>

        <td>
          <%= a_comment.body %>
        </td>

        <td>
          <%= a_comment.commenter.first_name %> <%= a_comment.commenter.last_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/comments/<%= a_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
