<div><a href="/posts/<%= @the_comment.post.id %>">Go back</a></div>

<h3 class = "text-center"><%= @the_comment.body %></h3>

<h4 class = "text-center"><td>Posted by <%= @the_comment.commenter.first_name %> <%= @the_comment.commenter.last_name %></td> <td><%= time_ago_in_words(@the_comment.created_at) %> ago</td></h4>

<hr>


<% if @the_comment.commenter.id == session.fetch(:user_id) %>
  <dt>Edit comment</dt>
  <div>
    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" class="text-center">
      <div>
        <label for="comment_id_box"></label>
        <textarea id="comment_id_box" name="query_body" value="<%= @the_comment.id %>"><%= @the_comment.body %></textarea>
      </div>
      <button class="v-button">Update comment</button>
   </form>
  </div>

  <div class="text-center">
    <a href="/delete_comment/<%= @the_comment.id %>">Delete this comment</a>
  </div>
<% else %>
<% end %>
