<div>
  <div class="text-center v-font"><h3> What topics do you want to explore? </h3></div>
</div>

<hr>

<div class="text-center v-font">
  <div>
    <table border="1" class="v-font text-center table table-striped table-hover border">
      <tr class = "table-info">
        <th>Topic</th>
        <th>Asked by</th>
        <th>School name</th>
        <th>Posted</th>
      </tr>

      <% @list_of_topics.each do |a_topic| %>
      <tr>
        <td><a href="/topics/<%= a_topic.id %>"><%= a_topic.body %></td>
        <td><%= a_topic.user.first_name %> <%= a_topic.user.last_name %></td>
        <td><%= a_topic.user.school_name %></td>
        <td><%= time_ago_in_words(a_topic.updated_at) %> ago</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div class="text-center v-font">
  <div>
    <h4>Create a new topic</h4>

    <form action="/insert_topic" method="post">
      <div>
        <label for="body_box"></label>
        <textarea id="body_box" name="query_body" rows="5" placeholder = 
        "Enter a new discussion topic..."></textarea>
      </div>

      <button class="v-button">Create new topic</button>
    </form>
  </div>
</div>
