<div>
  <div><h2> What topics do you want to explore? </h2></div>
</div>

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Topic</th>
        <th>Asked by</th>
        <th>View</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>

      <% @list_of_topics.each do |a_topic| %>
      <tr>
        <td><%= a_topic.body %></td>
        <td><%= a_topic.user.first_name %> <%= a_topic.user.last_name %></td>
        <td><a href="/topics/<%= a_topic.id %>">See posts on topic</a></td>
        <td><%= time_ago_in_words(a_topic.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_topic.updated_at) %> ago</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Add a new topic</h2>

    <form action="/insert_topic" method="post">
      <div>
        <label for="body_box">Create a new discussion topic</label>
        <textarea id="body_box" name="query_body" rows="5" placeholder = 
        "Enter a new discussion topic..."></textarea>
      </div>

      <button>Create new topic</button>
    </form>
  </div>
</div>
