<div>
  <a href="/topics">Go back</a>
</div>

<h3 class = "text-center"><%= @the_topic.body %> </h3>

<h4 class = "text-center"><td>Asked by <%= @the_topic.user.first_name %> <%= @the_topic.user.last_name %></td> <td><%= time_ago_in_words(@the_topic.created_at) %> ago</td></h4>

<hr>

<div class="table-info">
  <div>
    <table border="1" class="text-center table table-striped table-hover border">
      <tr>
        <th>Answered by</th>
        <th>Post</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Details</th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td><%= a_post.user.first_name %> <%= a_post.user.last_name %></td>
        <td><%= a_post.body %></td>
        <td><%= time_ago_in_words(a_post.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_post.updated_at) %> ago</td>
        <td><a href="/posts/<%= a_post.id %>">See post</a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div class = "text-center">
  <div>
    <h3>Create a new post</h3>

    <form action="/insert_post" method = "post">
      <div>
        <input type="hidden" id="topic_id_box" name="query_topic_id" value="<%= @the_topic.id %>">

        <label for="post_box"></label>
        <textarea id = "post_box" name = "query_body" placeholder = "Enter a new post ..."></textarea>
      </div>

      <button class="v-button">Create new post</button>
    </form>
  </div>
</div>


<hr>

<% if @the_topic.user.id == session.fetch(:user_id) %>
  <dt>Edit topic</dt>
  <div>
  <form action="/modify_topic/<%= @the_topic.id %>" method="post">
    <div>
      <label for="edit_body_box"></label>
      <textarea id = "edit_body_box" name = "query_body" value = "<%= @the_topic.id %>" placeholder = "Update your discussion topic..."><%= @the_topic.body %></textarea>
    </div>
    <button>Update topic</button>
  </form>
  </div>

  <div>
    <a href="/delete_topic/<%= @the_topic.id %>">Delete this topic</a>
  </div>
<% else %>
<% end %>
