<div>
  <div>
    <h3 class = "text-center v-font">
      What posts do you want to explore?
    </h3>
  </div>
</div>

<hr>

<div>
  <div>
    <table border="1" class="v-font text-center table table-striped table-hover border">
      <tr class = "table-info">
        <th>Topic</th>
        <th>Post</th>
        <th>Asked by</th>
        <th>School name</th>
        <th>Posted</th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td><a href="/topics/<%= a_post.topic.id %>"><%= a_post.topic.body %></td>
        <td><a href="/posts/<%= a_post.id %>"><%= a_post.body %></td>
        <td><%= a_post.user.first_name%> <%= a_post.user.last_name%></td>
        <td><%= a_post.user.school_name%></td>
        <td><%= time_ago_in_words(a_post.updated_at) %> ago</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
