<h1><%= @the_post.body %></h1>

<h2><td>Posted by <%= @the_post.user.first_name %> <%= @the_post.user.last_name %></td> <td><%= time_ago_in_words(@the_post.created_at) %> ago</td></h2>

<h2>Topic: <%= @the_post.topic.body %></h2>

<div><a href="/topics/<%= @the_post.topic.id%>">Go back</a></div>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_post.comments.each do |comment| %>
  <tr>
    <td><%= comment.commenter.first_name %> <%= comment.commenter.last_name %></td>
    <td><%= comment.body %></td>
    <td><%= comment.created_at %></td>
  </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment">
  <input id="browser_post_id" type="hidden" value="<%= @the_post.id %>" name="input_post_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>

<hr>

<% if @the_post.user.id == session.fetch(:user_id) %>
  <dt>Edit post</dt>
  <div>
  <form action="/modify_post/<%= @the_post.topic.id %>" method="post">
    <div>
      <label for="edit_body_box"></label>
      <textarea id = "edit_body_box" name = "query_body" value = "<%= @the_post.topic.id %>" placeholder = "Update your discussion topic..."><%= @the_post.body %></textarea>
    </div>
    <button>Update post</button>
  </form>
  </div>

  <div>
    <a href="/delete_post/<%= @the_post.id %>">Delete this post</a>
  </div>
<% else %>
<% end %>
